<div>
  <div>
    <h1>
      Users
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Total authored recipes
        </th>

        <th>
          Total recipes in cookbook
        </th>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <a href="/users/<%= a_user.id %>">
            <%= a_user.full_name %>
          </a>
        </td>

        <td>
          <%= a_user.authored_recipes.count %>
        </td>

        <td>
          <%= a_user.cookbooks.count %>
        </td>



      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>