<div>
  <div>
    <h1>
      <%= @the_ingredient.name.capitalize %>
    </h1>

    <div>
      <div>
        <a href="/ingredients">
          All Ingredients
        </a>
      </div>

  <% if @current_user != nil %>
    <td>
      <% the_favorite = @current_user.ingredients.where({ :id => @the_ingredient.id }).at(0) %>
        <% if the_favorite != nil %>
            <a href="/delete_favorite/<%= the_favorite.id %>">
            Remove from fridge
            </a>
        <% else %>
          <form action="/insert_favorite" method="post">
            <input type="hidden" name="query_ingredient_id" value="<%= @the_ingredient.id %>">
            <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
            <button>Add to fridge</button>
            </form>
        <% end %>
      </td>
    <% end %>
