<div>
  <div>
    <h1>
      All cookbooks
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Recipe
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_cookbooks.each do |a_cookbook| %>
      <tr>

        <td>
          <%= a_cookbook.recipe.name %>
        </td>

        <td>
          <a href="/recipes/<%= a_cookbook.recipe_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


<hr>

<div>
  <div>
    <h2>
      Add another recipe to your cookbook
    </h2>

    <form action="/insert_cookbook" method="post">
      <div>
        <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
      </div>

      <div>
        <label for="recipe_id_box">
          Choose your recipe from the list:
        </label>
        <input list="recipes" name="query_recipe_id" id="recipe">
        <datalist id="recipes">
          <option value="Recipe 1">
          <option value="Recipe 2">
          <option value="Recipe 3">
        </datalist>
        <%# <label for="recipe_submit_button"> Add Recipe </label>
        <input type="submit" id="recipe_submit_button" name="query_recipe_id"> %>

        <%# <input type="text" id="recipe_id_box" name="query_recipe_id"> %>


      </div>

      <button>
        Add recipe
      </button>
    </form>
  </div>
</div>


<hr>
